<section class="page-header">
<div class="row">
  <div class="col-md-4">
    <img src="/images/profile.png">
  </div>
  <div class="col-md-8">
    <h1 class="project-name">Bryan Barnes</h1>
    <h2 class="project-tagline">
      Digital Strategist, Problem Solver, Marketer <br /> 
      Small Business Owner, Photographer, Vegan
    </h2>
  </div>
</div>   
  <h5>My careers:</h5>
  <a href="https://aqua.org" class="btn">National Aquarium</a>
  <a href="https://hillkiller.com" class="btn">Hill Killer</a>
  <h5>My passions:</h5>
  <a href="http://photos.jbryanbarnes.com" class="btn">Photography</a>
  <a href="http://baltimorevegans.com" class="btn">BaltimoreVegans.com</a>
  <h5>Want more?</h5>
  <a href="mailto:jbryanbarnes@gmail.com">Request a Resume</a> &nbsp;
  <a href="https://linkedin.com/in/jbryanbarnes">Connect via LinkedIn</a>
</section> 