<section class="page-header">
  <h1 class="project-name">Bryan Barnes</h1>
  <h2 class="project-tagline">Digital Marketer, Small Business Owner, Photographer, Vegan</h2>
  <h3> View my current projects: </h3>
  <a href="https://aqua.org" class="btn">National Aquarium</a>
  <a href="http://www.hillkiller.com" class="btn">Hill Killer</a>
  <a href="http://photos.jbryanbarnes.com" class="btn">Photography</a>

  <h3> Or, connect via LinkedIn:</h3>
  <a href="https://linkedin.com/in/jbryanbarnes" class="btn">View Profile</a>

</section>