<section class="page-header">
  <h1 class="project-name" style="text-transform:uppercase;">Bryan Barnes</h1>
  <h2 class="project-tagline">Digital Strategist, Problem Solver, Marketer</h2>
  <h3>Small Business Owner, Photographer, Vegan</h3>
  <h5>My career: </h5>
  <a href="https://aqua.org" class="btn">National Aquarium</a>
  <a href="https://hillkiller.com" class="btn">Hill Killer</a>
  <h5>My passion: </h5>
  <a href="http://photos.jbryanbarnes.com" class="btn">Photography</a>
  <a href="http://baltimorevegans.com" class="btn">BaltimoreVegans.com</a>
  <h3>Want more?</h3>
  <a href="mailto:jbryanbarnes@gmail.com">Request a Resume</a> &nbsp;
  <a href="https://linkedin.com/in/jbryanbarnes">Connect via LinkedIn</a>

</section>